<app-menu-bar></app-menu-bar>
<p-toast key="edit-user"></p-toast>
<div class="edit-panel">
  <h1>{{ 'edit_title' | translate }}</h1>
  <form [formGroup]="editUserForm" #formEdit="ngForm" (ngSubmit)="sendForm()">
    <div class="form-user-container p-fluid">
      <div class="p-field p-grid">
        <label for="float-input-username" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{ 'username' | translate }}</label>
        <div class="p-col-12 p-md-10">
          <input id="float-input-username" type="text" size="30" pInputText formControlName="userName">
        </div>
        </div>
      <div class="p-field p-grid">
        <label for="float-input-age" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{ 'age' | translate }}</label>
        <div class="p-col-12 p-md-10">
          <p-inputNumber id="float-input-age" formControlName="age" [min]="0" [max]="100"></p-inputNumber>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="float-input-genre" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{ 'genre' | translate }}</label>
        <div class="p-col-12 p-md-10">
          <p-dropdown id="float-input-genre" [options]="genre" formControlName="genre">
            <ng-template let-item pTemplate="selectedItem">
              <span>{{ item.label | translate }}</span>
            </ng-template>
            <ng-template let-genre pTemplate="item">
              <div>{{ genre.label | translate }}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="p-field p-grid">
        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{ 'roles' | translate }}</label>
        <div *ngIf="this.roles">
          <div class="p-col-12 p-md-10" *ngFor="let rol of this.roles" class="p-field-checkbox">
            <p-checkbox id="rol" [value]="rol.rolName" [formControl]="editUserForm.controls['roles']"></p-checkbox>
            <label [for]="rol">{{rol.rolName}}</label>
          </div>
        </div>
      </div>
      <div class="p-field p-grid group-buttons-edit-user">
        <button pButton pRipple type="submit" label=" {{ 'save' | translate }}" icon="pi pi-check" class="buttonSave" [disabled]="valueUnchanged || editUserForm.invalid || formEdit.submitted" ></button>
      </div>
      </div>
  </form>
</div>
