@import "src/assets/sass/utility/_mixins.scss";

.edit-profile-user-panel{
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;

  h1 {
    text-align: center;
  }
}

.fieldset{
  border: 0;
}

.legend-container{
  border-bottom: 1px solid;
  margin-bottom: 16px;
  border-color: #c4c6c8;
}

legend {
  font-size:1.5em;
}

.button_edit_user_submit_container{
  display: flex;
  justify-content: flex-end;

  .button_edit_user_submit{
    padding: 5px;
  }
}


