<app-menu-bar></app-menu-bar>
<div class="edit-profile-user-panel">
  <h1>{{ 'edit_title' | translate }}</h1>
  <p-messages key="edit_profile_user" [(value)]="infoMessage"></p-messages>
  <form (ngSubmit)="updateUserProfile()" [formGroup]="editUserProfile">
    <fieldset class="fieldset">
      <div class="legend-container">
        <legend>{{ 'personal_info' | translate }}:</legend>
      </div>
      <div class="p-field p-grid">
        <label for="username" class="p-col-fixed" style="width:200px">{{'username' | translate}}:</label>
        <div class="p-col">
          <input id="username" type="text" pInputText formControlName="userName"/>
          <p-message class="message_error_username" severity="error" text="{{ 'name_required' | translate }}"
                     *ngIf="editUserProfile.controls['userName'].invalid&&(editUserProfile.controls['userName'].dirty || editUserProfile.controls['userName'].touched)"></p-message>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="age" class="p-col-fixed" style="width:200px">{{ 'date_birth' | translate }}:</label>
        <div class="p-col">
          <p-calendar appendTo="body" formControlName="dateBirthday" id="age" dateFormat="dd/mm/yy"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" ></p-calendar>
          <p-message class="message_error_age" severity="error" text="{{ 'age_invalid' | translate }}"
                     *ngIf="editUserProfile.get('dateBirthday').errors && editUserProfile.get('dateBirthday').dirty && editUserProfile.get('dateBirthday').errors.menorDeEdad"></p-message>
          <p-message class="message_error_age" severity="error" text="{{ 'birthday_required' | translate }}"
                     *ngIf="editUserProfile.get('dateBirthday').errors?.required && (editUserProfile.controls['dateBirthday'].dirty || editUserProfile.controls['dateBirthday'].touched )"></p-message>
        </div>
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <div class="legend-container">
        <legend>{{ 'interests' | translate }}:</legend>
      </div>
      <div class="p-fluid form-edit-profile-container">
        <div formArrayName="interest" *ngFor="let item of interest.controls; let i = index;" class="p-field p-grid">
          <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{item.value.nameInterest}}
            :</label>
          <div [formGroupName]="i" class="p-col-12 p-md-10">
            <!--<p-radioButton [value]="0" formControlName="priority" label="0" ></p-radioButton>
            <p-radioButton [value]="1" formControlName="priority" label="1"></p-radioButton>
            <p-radioButton [value]="2" formControlName="priority" label="2"></p-radioButton>
            <p-radioButton [value]="3" formControlName="priority" label="3"></p-radioButton>
            <p-radioButton [value]="4" formControlName="priority" label="4"></p-radioButton>
            <p-radioButton [value]="5" formControlName="priority" label="5"></p-radioButton>
            <p-radioButton [value]="6" formControlName="priority" label="6"></p-radioButton>
            <p-radioButton [value]="7" formControlName="priority" label="7"></p-radioButton>
            <p-radioButton [value]="8" formControlName="priority" label="8"></p-radioButton>
            <p-radioButton [value]="9" formControlName="priority" label="9"></p-radioButton>
            <p-radioButton [value]="10" formControlName="priority" label="10" ></p-radioButton>-->

            <input class="form-check-input" type="radio" [value]="0" formControlName="priority" id="{{'zero' + i}}">
            <label class="form-check-label" for="{{'zero' + i}}">
              0
            </label>

            <input class="form-check-input" type="radio" [value]="1" formControlName="priority" id="{{'one' + i}}">
            <label class="form-check-label" for="{{'one' + i}}">
              1
            </label>

            <input class="form-check-input" type="radio" [value]="2" formControlName="priority" id="{{'two' + i}}">
            <label class="form-check-label" for="{{'two' + i}}">
              2
            </label>

            <input class="form-check-input" type="radio" [value]="3" formControlName="priority" id="{{'three' + i}}">
            <label class="form-check-label" for="{{'three' + i}}">
              3
            </label>

            <input class="form-check-input" type="radio" [value]="4" formControlName="priority" id="{{'four' + i}}">
            <label class="form-check-label" for="{{'four' + i}}">
              4
            </label>

            <input class="form-check-input" type="radio" [value]="5" formControlName="priority" id="{{'five' + i}}">
            <label class="form-check-label" for="{{'five' + i}}">
              5
            </label>

            <input class="form-check-input" type="radio" [value]="6" formControlName="priority" id="{{'six' + i}}">
            <label class="form-check-label" for="{{'six' + i}}">
              6
            </label>

            <input class="form-check-input" type="radio" [value]="7" formControlName="priority" id="{{'seven' + i}}">
            <label class="form-check-label" for="{{'seven' + i}}">
              7
            </label>

            <input class="form-check-input" type="radio" [value]="8" formControlName="priority" id="{{'eight' + i}}">
            <label class="form-check-label" for="{{'eight' + i}}">
              8
            </label>

            <input class="form-check-input" type="radio" [value]="9" formControlName="priority" id="{{'nine' + i}}">
            <label class="form-check-label" for="{{'nine' + i}}">
              9
            </label>

            <input class="form-check-input" type="radio" [value]="10" formControlName="priority" id="{{'ten' + i}}">
            <label class="form-check-label" for="{{'ten' + i}}">
              10
            </label>

          </div>
        </div>
      </div>
    </fieldset>
    <div class="button_edit_user_submit_container">
      <p-button id="edit_user_profile_btn" label="{{ 'submit' | translate }}" type="submit" class="button_edit_user_submit"
                [disabled]="editUserProfile.invalid || valueUnchanged"></p-button>
    </div>
  </form>

</div>
