@import "src/assets/sass/utility/_mixins.scss";

.recommendation-panel{
  @include custom-panel;
  width: 100%;
  min-height: 380px;
  min-width: 800px;

  h1 {
    text-align: center;
  }

  ::ng-deep .p-card, .button_create_recommendation {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.question_recommendations_container{
  display: flex;
  flex-direction:column;

  .question_container{
    margin: 5px;
  }
}



.button_create_recommendation {
  text-align: right;
  margin-top: 10px;
}
