<!--<app-menu-bar></app-menu-bar>-->
<!--<div class="modify-preferences-panel">-->
  <!--<form [formGroup]="modifyPreferencesForm" (ngSubmit)="editPreferences()">-->
    <!--<div formArrayName="interests" *ngFor="let item of interests.controls; let i = index;">-->
      <!--<div [formGroupName]="i">-->
        <!--<label for="{{interestList[i]}}">{{interestList[i].nameInterest}}</label>-->
        <!--<p-inputNumber formControlName="priority" id="{{interestList[i]}}" [min]="0" [max]="10" [showButtons]="true">-->
        <!--</p-inputNumber>-->
      <!--</div>-->
    <!--</div>-->
    <!--<p-button label="{{ 'submit' | translate }}" type="submit"></p-button>-->
  <!--</form>-->
<!--</div>-->

