<app-menu-bar></app-menu-bar>
<div class="recommendation-map-panel">
  <div class="table_recommendation">
    <p-dataView #dv [value]="activitiesRecommendation" [paginator]="true" [rows]="3" filterBy="name" emptyMessage="{{ 'message-no-activities-evaluate-match' | translate }}">
      <ng-template pTemplate="header">
        <div class="filter_container">
          <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="{{ 'placeholder_search_activities_evaluate' | translate }}" (input)="dv.filter($event.target.value)">
          </span>
        </div>
      </ng-template>
      <ng-template let-activity pTemplate="listItem">
        <div class="p-col-12">
          <div class="activity-recommendation-list-item">
            <p-checkbox class="checkBoxActivityRecommendation" name="group1" [value]="activity.name" [(ngModel)]="activitiesSelected" (onChange)="changeMap($event, activity)" ></p-checkbox>
            <img [src]='photoURL(activity)'/>
            <div class="activity-recommendation-list-detail">
              <div class="activity-name">{{activity.name}}</div>
              <div class="activity-description">{{activity.description}}</div>
              <div class="activity-average"><span class="fas fa-star"></span>
                <span class="average"> {{activity.average}}/5</span>
              </div>
              <button pButton type="button" label="{{ 'rate_activity' | translate }}" class="p-button-link" (click)="openPanelToRating($event, activity)"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
  <div class="map_recommendation">
    <div id="mapActivityRecommendation"></div>
  </div>

  <p-dialog header="{{ 'rate_activity' | translate }}" [(visible)]="displayPanelRating" modal="true" [draggable]="false" >
    <form [formGroup]="formToRatingActivity" (ngSubmit)="sendRatingActivity()" id="ratingForm">
      <p class="messageRateActivity">{{ 'message_rate_activity' | translate }}</p>
      <p-rating class="rateActivity" formControlName="rating" [cancel]="false"></p-rating>
      <p>{{ 'submessage_rate_activity' | translate }}</p>
    </form>
    <ng-template pTemplate="footer">
      <button pButton icon="pi pi-check" label="{{ 'submit' | translate }}" class="p-button-text" form="ratingForm" [disabled]="formToRatingActivity.invalid"></button>
    </ng-template>
  </p-dialog>
</div>


