<app-menu-bar></app-menu-bar>
<p-toast  key="interest"></p-toast>
<div class="interest-panel">
  <p-card header="{{ 'list_interest' | translate }}">
    <p-virtualScroller [value]="interest" scrollHeight="250px" [itemSize]="50" >
      <p-header class="list-header-interest">
        {{ 'interest' | translate }}
        <button id="add_interest_btn" pButton pRipple type="button" label=" {{ 'add_interest' | translate }}" icon="pi pi-plus" iconPos="left" class="p-button-raised p-button-rounded" (click)="openPanel($event)"></button>
      </p-header>
      <ng-template pTemplate="item" let-interest>
        <div class="list-container-interest">
          <div class="interest-details">
            <b>{{interest.nameInterest}}</b>
          </div>
          <div class="group-buttons-interest">
            <button pButton pRipple type="button" icon="fas fa-pen" class="p-button-rounded p-button-text" (click)="editInterest(interest)"></button>
            <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text" (click)="deleteInterest(interest)"></button>
          </div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </p-card>
  <p-dialog [(visible)]="display" (onHide)="hideDialogInterest()" modal="true" [draggable]="false">
    <p-header>
      {{ 'add_interest' | translate }}
    </p-header>
    <form [formGroup]="formAddInterest" #formInterest="ngForm" id="ngForm" (ngSubmit)="onSubmit()" >
      <div class="p-field p-grid">
        <label for="field-name-interest" class="p-col-fixed">{{ 'name_interest' | translate }}*:</label>
        <div class="p-col buttons-add-interest">
          <input id="field-name-interest" type="text" pInputText formControlName="name">
          <small *ngIf="formAddInterest.controls['name'].invalid &&
            (formAddInterest.controls['name'].dirty || formAddInterest.controls['name'].touched)" class="p-error">{{ 'name_interest_required' | translate }}</small>
          <small *ngIf="formInterest.submitted && errorAddInterest" class="p-error">{{ 'name_interest_repetead' | translate }}</small>
        </div>
      </div>
    </form>
    <p-footer>
      <button id="add_save_interest_btn" pButton pRipple label=" {{ 'save' | translate }}" icon="pi pi-check" class="p-button-text" form="ngForm" [disabled]="formAddInterest.invalid"></button>
      <button id="add_cancel_interest_btn" pButton pRipple label=" {{ 'cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="cancel()"></button>
    </p-footer>
  </p-dialog>
  <p-confirmDialog header="{{ 'delete_interest' | translate }}" acceptLabel="{{ 'delete' | translate }}" rejectLabel="{{ 'cancel' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>

  <p-dialog header="{{ 'edit_title_interest' | translate }}" [(visible)]="displayEditDialog" modal="true" [draggable]="false" (onHide)="hideDialogEditInterest()">
    <form [formGroup]="formEditInterest"  #formInterestToEdit="ngForm"  id="ngFormEditInterest" (ngSubmit)="onEditSubmit()" >
      <div class="p-field p-grid">
        <label for="field-edit-name-interest" class="p-col-fixed">{{ 'name_interest' | translate }}*:</label>
        <div class="p-col buttons-add-interest">
          <input id="field-edit-name-interest" type="text" pInputText formControlName="name">
          <small *ngIf="formEditInterest.controls['name'].invalid &&
            (formEditInterest.controls['name'].dirty || formEditInterest.controls['name'].touched)" class="p-error">{{ 'name_interest_required' | translate }}</small>
          <small *ngIf="formInterestToEdit.submitted && errorEditInterest" class="p-error">{{ 'name_interest_repetead' | translate }}</small>
        </div>
      </div>
    </form>
    <p-footer>
      <button id="edit_save_interest_btn" pButton pRipple label=" {{ 'save' | translate }}" icon="pi pi-check" class="p-button-text" form="ngFormEditInterest" [disabled]="formEditInterest.invalid"></button>
      <button id="edit_cancel_interest_btn" pButton pRipple label=" {{ 'cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="cancelEdit()"></button>
    </p-footer>
  </p-dialog>
</div>
