<app-menu-bar></app-menu-bar>
<p-toast  key="interest"></p-toast>
<div class="interest-panel">
  <p-card header="{{ 'list_interest' | translate }}">
    <p-virtualScroller [value]="interest" scrollHeight="150px" [itemSize]="50" >
      <p-header class="list-header-interest">
        {{ 'interests' | translate }}
        <button pButton pRipple type="button" label=" {{ 'add_interest' | translate }}" icon="pi pi-plus" iconPos="left" class="p-button-raised p-button-rounded" (click)="openPanel($event)"></button>
      </p-header>
      <ng-template pTemplate="item" let-interest>
        <div class="list-container-interest">
          <div class="interest-details">
            <b>{{interest.nameInterest}}</b>
          </div>
          <div class="group-buttons-interest">
            <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text" (click)="deleteInterest(interest)"></button>
          </div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </p-card>
  <p-dialog [(visible)]="display" (onHide)="hideDialogInterest()" modal="true" [draggable]="false">
    <p-header>
      {{ 'add_interest' | translate }}
    </p-header>
    <form [formGroup]="formAddInterest" #formInterest="ngForm" id="ngForm" (ngSubmit)="onSubmit(formAddInterest.value)" >
      <div class="p-field p-grid">
        <label for="field-name-interest" class="p-col-fixed">{{ 'name_interest' | translate }}*:</label>
        <div class="p-col buttons-add-interest">
          <input id="field-name-interest" type="text" pInputText formControlName="name">
          <small *ngIf="formAddInterest.controls['name'].invalid &&
            (formAddInterest.controls['name'].dirty || formAddInterest.controls['name'].touched)" class="p-invalid">{{ 'name_interest_required' | translate }}</small>
          <small *ngIf="formInterest.submitted && errorAddInterest" class="p-invalid">{{ 'name_interest_repetead' | translate }}</small>
        </div>
      </div>
    </form>
    <p-footer>
      <button pButton pRipple label=" {{ 'save' | translate }}" icon="pi pi-check" class="p-button-text" form="ngForm" [disabled]="formAddInterest.invalid"></button>
      <button pButton pRipple label=" {{ 'cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="cancel()"></button>
    </p-footer>
  </p-dialog>
  <p-confirmDialog header="{{ 'confirm' | translate }}" acceptLabel="{{ 'delete' | translate }}" rejectLabel="{{ 'cancel' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
