@import "src/assets/sass/utility/_mixins.scss";

.activities-evaluates-panel{
    @include custom-panel;
    width: 100%;
    min-height: 300px;
    min-width: 800px;

    h1{
        text-align:center;
    }
}

::ng-deep .p-dataview {
    margin: 15px;
}


.activities-list-item{
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    .activities-list-detail{
        flex: 1 1 0;

      .activity-badge.status-catedrales{
        background: #feedaf;
        color: #8a5340;
      }

      .activity-badge.status-museos{
        background-color: #eccfff;
        color: #694382;
      }

      .activity-badge.status-playas{
        background-color: #b3e5fc;
        color: #23547b;
      }

      .activity-badge.status-esculturas{
        background: #ffcdd2;
        color: #c63737;
      }

      .activity-badge.status-teatros{
        background: #c8e6c9;
        color: #256029;
      }

      .activity-badge{
        border-radius: 2px;
        padding: .25em .5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: .3px;
      }
    }

    img {
        width: 150px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 2rem;
    }

    .activity-name{
        font-size: 1.5rem;
        font-weight: 700;
    }

}

.search_input_container{
    display: flex; 
    justify-content: flex-end;
}



