<app-menu-bar></app-menu-bar>
<div class="activities-evaluates-panel">
    <h1>{{ 'activities_valued' | translate }}</h1>
    <p-dataView #dv [value]="listActivities" [paginator]="true" [rows]="3" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" emptyMessage="{{ 'message-no-activities-evaluate-match' | translate }}">
      <ng-template pTemplate="header">
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
          <p-dropdown inputId="dropdown_sort_activities_valued" [options]="sortOptions" [(ngModel)]="sortKey" placeholder="{{ 'sort_by_rating' | translate }}" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0">
            <ng-template pTemplate="item" let-item>
              {{item.label | translate}}
            </ng-template>
            <ng-template let-selectedItem pTemplate="selectedItem">
              {{selectedItem.label | translate}}
            </ng-template>
          </p-dropdown>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input id="input_search_activities_evaluate" type="search" pInputText placeholder="{{ 'placeholder_search_activities_evaluate' | translate }}" (input)="dv.filter($event.target.value)">
          </span>
        </div>
      </ng-template>
      <ng-template let-activity pTemplate="listItem">
            <div class="p-col-12">
                <div class="activities-list-item">
                    <div>
                      <img [src]='photoURL(activity)'/>
                    </div>
                    <div class="activities-list-detail">
                        <div class="activity-name">
                            {{activity.name}}
                        </div>
                        <div>
                          <p>{{activity.description}}</p>
                        </div>

                        <div>
                          <span [class]="'activity-badge status-' + activity.interest.toLowerCase()">{{activity.interest}}</span>
                        </div>
                    </div>

                    <div class="activities-list-action">
                        <p-rating [(ngModel)]="activity.score" [readonly]="true" stars="5" [cancel]="false"></p-rating>
                    </div>
                </div>
                
            </div>
        </ng-template>
    </p-dataView>
</div>
