<app-menu-bar></app-menu-bar>
<div class="activities-evaluates-panel">
    <h1>{{ 'activities_valued' | translate }}</h1>
    <p-dataView #dv [value]="listActivities" [paginator]="true" [rows]="5" filterBy="name">
      <ng-template pTemplate="header">
        <div class="search_input_container">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="{{ 'placeholder_search_activities_evaluate' | translate }}" (input)="dv.filter($event.target.value)">
          </span>
        </div>
      </ng-template>
      <ng-template let-activity pTemplate="listItem">
            <div class="p-col-12">
                <div class="activities-list-item">
                    <div>
                      <img src="https://www.turismoasturias.es/documents/11022/84856/Museo+del+Ferrocarril+en+Gij%C3%B3n.jpg/f6a2617d-8286-4db7-9a38-2112fd857821?t=1541695783632" />
                      <div>
                        <em>{{activity.address}}</em>
                      </div>
                    </div>
                    <div class="activities-list-detail">
                        <div class="activity-name">
                            {{activity.name}}
                        </div>
                        <div>
                          <p>{{activity.description}}</p>
                        </div>

                        <div>
                          <p-tag value="{{activity.interest}}" [rounded]="true"></p-tag>
                        </div>
                    </div>

                    <div class="activities-list-action">
                        <p-rating [ngModel]="activity.rating" [readonly]="true" stars="5" [cancel]="false"></p-rating>
                    </div>
                </div>
                
            </div>
        </ng-template>
    </p-dataView>
</div>
