@import "src/assets/sass/utility/_mixins.scss";

.activities-evaluates-panel{
    @include custom-panel;
    width: 100%;
    min-height: 300px;
    min-width: 800px;

    h1{
        text-align:center;
    }
}

::ng-deep .p-dataview {
    margin: 15px;
}

::ng-deep .p-dataview.p-dataview-list .p-dataview-content > .p-grid > div{
  border-width: 1px 0 1px 0;
}


.activities-list-item{
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;


    /* .activities-list-action, .activities-list-action{
        width: 50%;
    } */

    .activities-list-detail{
        flex: 1 1 0;
    }

    img {
        width: 150px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 2rem;
    }

    .activity-name{
        font-size: 1.5rem;
        font-weight: 700;
    }

}



