@import "src/assets/sass/_variables";
@import "src/assets/sass/utility/_mixins.scss";

.user-panel {
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;
}

.user-container{
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}


td {
  word-wrap:break-word
}

.table-user{
  padding: 15px;
  ::ng-deep .p-datatable-tbody > tr > td,
  ::ng-deep .p-datatable-thead > tr > th,
  ::ng-deep .p-datatable-header,
  ::ng-deep .p-paginator{
    border: 0 none;
  }

  ::ng-deep .p-datatable-tbody > tr > td,
  ::ng-deep .p-datatable-thead > tr > th{
    border-bottom: 1px solid #c8c8c8;
  }

  ::ng-deep .p-datatable-thead > tr > th{
    border-top: 1px solid #c8c8c8;
  }

}

:host ::ng-deep .tabview-custom {
  padding: 15px;

  i, span {
    vertical-align: middle;
  }

  .span-tab {
    margin: 0 .5rem;
  }
}
