@import "src/assets/sass/utility/_mixins.scss";

.user-panel {
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;
}

.user-container{
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.table-user{
  padding: 15px;

  ::ng-deep .p-datatable-tbody > tr > td,
  ::ng-deep .p-datatable-thead > tr > th{
    word-wrap:break-word;
    text-align: center;
  }

}
