<app-menu-bar></app-menu-bar>
<p-toast key="edit-user"></p-toast>
<div class="edit-panel">
  <h1>{{ 'edit_title' | translate }}</h1>
  <form [formGroup]="editUserForm" #formEdit="ngForm" (ngSubmit)="sendForm()">
    <fieldset class="fielset_edit_user form-user-container">
      <div class="legend_fieldset">
        <legend>{{ 'personal_info' | translate }}</legend>
      </div>
      <div class="p-field p-grid">
        <label for="float-input-username" class="p-col-fixed" style="width: 200px;">{{ 'username' | translate }}*:</label>
        <div class="p-col">
          <input id="float-input-username" type="text" pInputText formControlName="userName">
          <small class="p-error message_error" *ngIf="editUserForm.controls['userName'].invalid&&(editUserForm.controls['userName'].dirty || editUserForm.controls['userName'].touched)">{{ 'name_required' | translate }}</small>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="float-input-birthday" class="p-col-fixed" style="width: 200px;">{{ 'date_birth' | translate }}*:</label>
        <div class="p-col">
          <p-calendar inputId="float-input-birthday" formControlName="dateBirthday" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          <small class="p-error message_error" *ngIf="editUserForm.get('dateBirthday').errors?.required && (editUserForm.controls['dateBirthday'].dirty || editUserForm.controls['dateBirthday'].touched)">{{ 'birthday_required' | translate }}</small>
          <small class="p-error message_error" *ngIf="editUserForm.get('dateBirthday').errors && editUserForm.get('dateBirthday').dirty && editUserForm.get('dateBirthday').errors.menorDeEdad">{{ 'age_invalid' | translate }}</small>
        </div>
      </div>
    </fieldset>
    <fieldset class="fielset_edit_user form-user-container">
      <div class="legend_fieldset">
        <legend>{{ 'roles' | translate }}</legend>
      </div>
      <p-listbox [options]="roleList" formControlName="roles" multiple="multiple" checkbox="checkbox" [style]="{'margin-top':'10px','width':'100%'}" [filter]="true">
      </p-listbox>
    </fieldset>
    <div class="group-buttons-edit-user">
      <button id="edit_user_admin_btn" pButton pRipple type="submit" class="buttonSave" label=" {{ 'save' | translate }}" icon="pi pi-check" [disabled]="valueUnchanged || editUserForm.invalid || formEdit.submitted" ></button>
    </div>

  </form>
</div>

