.login-component {
  display: flex;
  min-height: 75vh;
  min-width: 540px;
}

.left-container {
  height: calc(100vh - 140px);
  width: 50%;
}

.right-container {
  height: calc(100vh - 140px);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-icon-user {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  /*mirar*/
  min-height: 30vh;
  align-items: center;
  justify-content: space-evenly;
}
