@import "src/assets/sass/_variables";
@import "src/assets/sass/utility/_mixins.scss";

.login-component {
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;
  
  display: flex;
  flex-direction: column;
}

.container-login-of-container{
  display: flex;
}

//Container left
.left-container {
  height: calc(100vh - 140px);
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 310px;
}

.container-login{
  height: 50%;
}

//Container right
.right-container {
  min-height: 310px;
  height: calc(100vh - 140px);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  /*mirar*/
  min-height: 30vh;
  align-items: center;
  justify-content: space-evenly;
}

//Todo lo relativo a las imágenes

.container-img-logo{
  height: 50%;
}


#img_logo, #img-icon-user{
  max-width:100%;
  width: auto\9;
  max-height:100%;
}

::ng-deep .p-messages {
  margin-left: 5px;
  margin-right: 5px;
}




