.contaiter-info-activities{
  display: flex;
  flex-direction: column;
}

.container-name, .container-description-activity, .container-coordenates, .container-interest, .container-city{
  display: flex;
}

.label-container, .content-container{
  width: 50%;
}

#image-activity{
  width: 100%;
  max-width: 300px;
  height: auto;
  text-align: center;
  width: auto\9; /* ie8 */

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

