<img *ngIf="activity" id="image-activity" [src]="image"/>
<div class="contaiter-info-activities" *ngIf="activity">
  <div class="container-name">
    <div class="label-container"><b>{{ 'name_activity' | translate }}</b></div>
    <div class="content-container">{{activity.name}}</div>
  </div>
  <div class="container-description-activity">
    <div class="label-container"><b>{{ 'description_activity' | translate }}</b></div>
    <div class="content-container">{{activity.description}}</div>
  </div>
  <div class="container-coordenates">
    <div class="label-container"><b>{{ 'address' | translate }}</b></div>
    <div class="content-container">{{activity.address}}</div>
  </div>
  <div class="container-interest">
    <div class="label-container"><b>{{ 'interest' | translate }}</b></div>
    <div class="content-container">{{activity.interest}}</div>
  </div>
  <div class="container-city">
    <div class="label-container"><b>{{ 'city' | translate }}</b></div>
    <div class="content-container">{{activity.city}}</div>
  </div>
</div>



