<img src="http://localhost:8090/images/museoferrocarril.jpg" />
<div class="contaiter-info-activities">
  <div class="container-name">
    <div class="label-container"><b>Nombre</b></div>
    <div class="content-container">{{activity.name}}</div>
  </div>
  <div class="container-description-activity">
    <div class="label-container"><b>Descripción</b></div>
    <div class="content-container">{{activity.description}}</div>
  </div>
  <div class="container-coordenates">
    <div class="label-container"><b>Latitud</b></div>
    <div class="content-container">{{activity.latitude}}</div>
  </div>
  <div class="container-coordenates">
    <div class="label-container"><b>Longitud</b></div>
    <div class="content-container">{{activity.longitude}}</div>
  </div>
  <div class="container-interest">
    <div class="label-container"><b>Interés</b></div>
    <div class="content-container">{{activity.interest}}</div>
  </div>
  <div class="container-city">
    <div class="label-container"><b>Ciudad</b></div>
    <div class="content-container">{{activity.city}}</div>
  </div>
</div>



