@import "~bootstrap/scss/bootstrap";

:host ::ng-deep .menu-bar {
  min-width: 800px;
  border-radius: 3px;
}

/*.container-name{
  display: flex;
  justify-content: center; !* align horizontal *!
  align-items: center; !* align vertical *!
}*/

.navbar-light .navbar-nav .nav-link:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link.active{
  color: #2196F3;
}

.navbar-light .navbar-nav .nav-link{
  color: rgba(0,0,0, 0.9);
}

.navbar-nav .nav-link{
  padding-left: 5px;
  padding-right: 5px;
}



