@import "src/assets/sass/utility/_mixins.scss";

.signup-panel{
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;

  h1{
    text-align:center;
  }
}

.button_signup{
  float: right;
}

.sign_up_btns{

}

.button_return, .button_signup{
  width: auto;
}

.form-signup-container{
  width: 60%;
}

.form-signup-container, .form-signup-second-container{
  margin-left: auto;
  margin-right: auto;
}

.form-signup-second-container{
  width: 70%;

  .form-check-label{
    margin: 10px;
  }
}

.message_error_sign_container{
  padding-top: 5px;
}

.input-birth{
  width: 100%;
}

.message_valuation_container{
  text-align: center;
}


