@import "src/assets/sass/_variables";
@import "src/assets/sass/utility/_mixins.scss";

.signup-panel{
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;
}

h1{
  text-align:center;
}

.button_signup{
  width: auto;
  float: right;
}

.form-signup-container{
  width: 80%;
  /*Para centrar*/
  margin-left: auto;
  margin-right: auto;
}
