<app-menu-bar></app-menu-bar>
<div class="signup-panel">
  <h1>Sign up</h1>
  <form [formGroup]="formGroup" #formSign="ngForm" (ngSubmit)="onSubmit(formGroup.value)">
    <div *ngIf="!openSecondForm; else showSecondForm">
      <div class="form-signup-container p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="field-name">Nombre*</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fas fa-user" style="line-height: 1.25;"></i></span>
            <input id="field-name" type="text" pInputText placeholder="Username" formControlName="name">
            <p-message severity="error" text="El nombre de usuario es obligatorio"
                       *ngIf="!formGroup.controls['name'].valid&&formGroup.controls['name'].dirty"></p-message>
          </div>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="field-email">Email*</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fas fa-at" style="line-height: 1.25;"></i></span>
            <input id="field-email" type="text" pInputText placeholder="Email" formControlName="email">
            <p-message severity="error" text="El campo Email es obligatorio"
                       *ngIf="!formGroup.controls['email'].valid&&formGroup.controls['email'].dirty"></p-message>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label for="field-password">Contraseña*</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fas fa-lock" style="line-height: 1.25;"></i></span>
            <input id="field-password" type="password" pPassword formControlName="password" placeholder="Contraseña"/>
            <p-message severity="error"
                       [text]="formGroup.controls['password'].errors['required'] ? 'El campo Contraseña es obligatorio' : formGroup.controls['password'].errors['minlength'] ? 'Debe tener al menos 7 caracteres' : ''"
                       *ngIf="!formGroup.controls['password'].valid&&formGroup.controls['password'].dirty"></p-message>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label for="field-password-repeat">Contraseña repetida*</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fas fa-lock" style="line-height: 1.25;"></i></span>
            <input id="field-password-repeat" type="password" pPassword formControlName="repeatPassword"
                   placeholder="Contraseña repetida"/>
          </div>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <label for="field-age">Edad*</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="far fa-calendar-alt" style="line-height: 1.25;"></i></span>
            <p-inputNumber id="field-age" placeholder="Age" formControlName="age" [min]=0 class="p-invalid"></p-inputNumber>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-3">
          <label for="field-genre">Género*</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fas fa-restroom" style="line-height: 1.25;"></i></span>
            <p-dropdown id="field-genre" [options]="genre" [(ngModel)]="genreSelected" formControlName="genre"></p-dropdown>
          </div>
        </div>

        <div class="p-field p-col-12">
          <p-message severity="error" text="Los datos no son correctos" *ngIf="(this.formGroup.get('name').invalid || this.formGroup.get('email').invalid ||
      this.formGroup.get('password').invalid || this.formGroup.get('repeatPassword').invalid || this.formGroup.get('genre').invalid || this.formGroup.get('age').invalid) && isContinueFail"></p-message>
          <button pButton type="button" label="Continuar" icon="fas fa-arrow-right" class="button_signup" (click)="continueSecondPartForm()"></button>
        </div>
      </div>
    </div>

    <ng-template #showSecondForm>
      <div class="form-signup-second-container p-fluid">
        <ng-container formArrayName="interest">
          <div *ngFor="let interest of interest.controls; let i=index" class="p-field p-grid">
            <label for="{{interestArray[i]}}" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{interestArray[i].nameInterest}}</label>
            <ng-container [formGroupName]="i">
              <div class="p-col-12 p-md-10">
                <p-inputNumber formControlName="priority" id="{{interestArray[i]}}" inputId="{{interestArray[i]}}" [min]="0" [max]="10" [showButtons]="true">
                </p-inputNumber>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <p-message severity="error" text="Los datos no son correctos"
                   *ngIf="formSign.submitted && isRegisterFail"></p-message>
        <button pButton type="button" label="Volver" icon="fas fa-arrow-left" class="button_return" (click)="returnFirstPartForm()"></button>
        <button pButton type="submit" label="Submit" icon="pi pi-check" [disabled]="!formGroup.valid" class="button_signup"></button>
      </div>
    </ng-template>

  </form>
</div>

