@import "src/assets/sass/utility/_mixins.scss";

.add-activity-container {
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;

  h1{
    text-align:center;
  }
}

.button_save_activity{
  text-align: right;
}




.form_add_activity_container{
  display: flex;
}

.input_container, .map_container{
  width: 50%;
}

.grid-container{
  width: 40vw;
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

.button_add_activity_container{
  text-align: right;

  ::ng-deep .p-button{
    margin: 5px;
  }
}

#mapActivity{
  width: 45vw;
  height: 40vw;
  min-height: 400px;
  min-width: 390px;
}

.fileUploadAddActivity {
  ::ng-deep .p-fileupload-row{
    div:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}





