@import "src/assets/sass/utility/_mixins.scss";

.edit-activities-panel {
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;

  h1{
    text-align:center;
  }
}

.file-upload-edit-activity{
  margin-bottom: 16px;
}




.edit_activity_container{
  display: flex;
}

.left_container, .right_container{
  width: 50%;
}

#image-edit-activity{
  max-width: 300px;
  height: auto;
  text-align: center;
  width: auto\9; /* ie8 */

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-edit-activity-container {
  width: 40vw;
  min-width: 375px;
  /*Para centrar*/
  margin-left: auto;
  margin-right: auto;
}

.button_edit_activity_container{
  text-align: right;

  ::ng-deep .p-button{
    margin: 5px;
  }
}

#mapActivityEdit{
  width: 45vw;
  height: 40vw;
  min-height: 480px;
  min-width: 390px;
}



