@import "src/assets/sass/utility/_mixins.scss";

.list-container-localities, .list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.localities-panel {
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;
}

.buttons-add-locality{
  display: flex;
  flex-direction: column;
}

