<app-menu-bar></app-menu-bar>
<p-toast key="locality"></p-toast>
<div class="cities-panel">
  <p-card header="{{ 'list_localities' | translate }}">
    <p-virtualScroller [value]="localities" scrollHeight="250px" [itemSize]="50">
      <p-header class="list-header">
        {{ 'localities' | translate }}
        <button id="add_city_btn" pButton pRipple label=" {{ 'add_locality' | translate }}" icon="pi pi-plus" class="p-button-raised p-button-rounded" (click)="openPanel($event)"></button>
      </p-header>
      <ng-template pTemplate="item" let-locality>
        <div class="list-container-cities">
          <div class="city-details">
            <b>{{locality.name}}</b>
          </div>
          <div class="group-buttons">
            <button pButton pRipple type="button" icon="fas fa-pen" class="p-button-rounded p-button-text" (click)="editLocality(locality)"></button>
            <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text" (click)="removeLocality(locality)"></button>
          </div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </p-card>


  <p-dialog [(visible)]="display" modal="true" [draggable]="false" (onHide)="hideDialogLocality()">
    <p-header>
      {{ 'add_locality' | translate }}
    </p-header>
    <form [formGroup]="formAddLocality" #formCity="ngForm" id="ngFormCity" (ngSubmit)="onSubmit()">
      <div class="p-field p-grid">
        <label for="field-name-city" class="p-col-fixed">{{ 'name_locality' | translate }}*:</label>
        <div class="p-col buttons-add-city">
          <input id="field-name-city" type="text" pInputText formControlName="name">
          <small *ngIf="formAddLocality.controls['name'].invalid &&
            (formAddLocality.controls['name'].dirty || formAddLocality.controls['name'].touched)" class="p-error">{{ 'name_locality_required' | translate }}</small>
          <small *ngIf="formCity.submitted && errorAddLocality" class="p-error">{{ 'name_locality_repeated' | translate }}</small>
        </div>
      </div>
    </form>
    <p-footer>
      <button id="add_save_city_btn" pButton pRipple label=" {{ 'save' | translate }}" icon="pi pi-check" class="p-button-text" form="ngFormCity" [disabled]="formAddLocality.invalid"></button>
      <button id="add_cancel_city_btn" pButton pRipple label=" {{ 'cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="cancel()"></button>
    </p-footer>
  </p-dialog>

  <p-confirmDialog header="{{ 'delete_locality' | translate }}" icon="pi pi-exclamation-triangle" acceptLabel="{{ 'delete' | translate }}" rejectLabel="{{ 'cancel' | translate }}"></p-confirmDialog>

  <p-dialog header="{{ 'edit_title_locality' | translate }}" [draggable]="false" [(visible)]="displayEditPanel" [modal]="true" (onHide)="hideDialogEditLocality()">
    <form [formGroup]="formEditLocality" #formCityToEdit="ngForm" id="ngFormEditCity" (ngSubmit)="onEditSubmit()">
      <div class="p-field p-grid">
        <label for="field-edit-name-city" class="p-col-fixed">{{ 'name_locality' | translate }}*:</label>
        <div class="p-col buttons-add-city">
          <input id="field-edit-name-city" type="text" pInputText formControlName="name">
          <small *ngIf="formEditLocality.controls['name'].invalid &&
            (formEditLocality.controls['name'].dirty || formEditLocality.controls['name'].touched)" class="p-error">{{ 'name_locality_required' | translate }}</small>
          <small *ngIf="formCityToEdit.submitted && errorEditLocality" class="p-error">{{ 'name_locality_repeated' | translate }}</small>
        </div>
      </div>
    </form>
    <p-footer>
      <button id="edit_save_city_btn" pButton pRipple label=" {{ 'save' | translate }}" icon="pi pi-check" class="p-button-text" form="ngFormEditCity" [disabled]="formEditLocality.invalid"></button>
      <button id="edit_cancel_city_btn" pButton pRipple label=" {{ 'cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="cancelEdit()"></button>
    </p-footer>
  </p-dialog>
</div>

