
<app-menu-bar></app-menu-bar>
<p-toast  key="activity"></p-toast>
<div class="imgview-panel">
  <div class="card p-d-flex p-flex-column">
    <p-toolbar class="toolbar-activities">
      <div class="p-toolbar-group-left"></div>
      <div class="p-toolbar-group-right">
        <button pButton pRipple label=" {{ 'add_activity' | translate }}" icon="pi pi-plus" class="p-button-raised p-button-rounded" (click)="openNew()"></button>
      </div>
    </p-toolbar>

    <p-table #tableActivities [value]="activities" class="table-activities" [scrollable]="true" scrollHeight="350px" sortField="name"
             [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]"
             currentPageReportTemplate="{{ 'current_page' | translate:{'first': '{first}', 'last': '{last}', 'totalRecords': '{totalRecords}' } }}"
             [globalFilterFields]="['name','city','interest']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h2 class="p-m-0">{{ 'list_activities' | translate }}</h2>
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="tableActivities.filterGlobal($event.target.value, 'contains')" placeholder="{{ 'search' | translate }}" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            {{ 'image' | translate }}
          </th>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr>
          <td><img id="image-activity-table" [src]='photoURL(activity)' /></td>
          <td class="td-text-wrap">{{activity.name}}</td>
          <td class="p-text-nowrap p-text-truncate">{{activity.description}}</td>
          <td class="td-text-wrap">{{activity.city}}</td>
          <td class="td-text-wrap">{{activity.interest}}</td>
          <td>
            <button pButton pRipple type="button" icon="fas fa-info" class="p-button-rounded p-button-text" (click)="seeMoreInfo(activity)"></button>
            <button pButton pRipple type="button" icon="fas fa-pen" class="p-button-rounded p-button-text" (click)="editActivity(activity)"></button>
            <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text" (click)="confirm(activity)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog header="{{ 'delete_activity' | translate }}" icon="pi pi-info-circle" acceptLabel="{{ 'delete' | translate }}" rejectLabel="{{ 'cancel' | translate }}"></p-confirmDialog>

  <p-dialog [(visible)]="productDialog" styleClass="myDialog" *ngIf="productDialog" modal="true" [draggable]="false" [closable]="false" >
    <p-header>
      {{ 'add_activity' | translate }}
    </p-header>
    <form [formGroup]="formAddActivity" #formAdd="ngForm" class="form-activity-container">
      <div class="p-fluid p-formgrid p-grid grid-container">
        <div class="p-field p-col-12">
          <label for="field-name-Activity">{{ 'name_activity' | translate }}*</label>
          <input id="field-name-Activity" type="text" pInputText formControlName="name">
        </div>
        <div class="p-field p-col-12">
          <label for="field-description">{{ 'description_activity' | translate }}*</label>
          <textarea id="field-description" pInputTextarea formControlName="description" [rows]="4" [cols]="30" autoResize="autoResize"></textarea>
        </div>
        <div id="mapActivity" style="width: 500px; height: 200px;"></div>
        <div class="p-field p-col-12 p-md-6">
          <label for="field-latitude">{{ 'latitude' | translate }}*</label>
          <p-inputNumber id="field-latitude" formControlName="latitude" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="7"></p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="field-longitude">{{ 'longitude' | translate }}*</label>
          <p-inputNumber id="field-longitude" formControlName="longitude" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="7"></p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="field-city">{{ 'city' | translate }}*</label>
          <p-dropdown id="field-city" [options]="cities" formControlName="city" appendTo="body"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="field-interest">{{ 'interest' | translate }}*</label>
          <p-dropdown id="field-interest" [options]="interest" formControlName="nameInterest" appendTo="body">
          </p-dropdown>
        </div>
      </div>
      <div class="p-field grid-container">
        <label>{{ 'image' | translate }}*</label>
        <p-fileUpload name="myfile[]" accept="image/jpeg, image/png" maxFileSize="2000000" (onSelect)="dealWithFiles($event)" (onRemove)="deleteFiles($event)" (onClear)="deleteFiles($event)"
                      invalidFileTypeMessageDetail="{{ 'invalid_file_message_detail' | translate:{formats:'{0}'} }} "
                      invalidFileTypeMessageSummary="{{ 'invalid_type_message_summary' | translate:{nameFile:'{0}'} }}"
                      invalidFileSizeMessageDetail="{{ 'invalid_file_size_message_detail' | translate:{size:'{0}'} }}"
                      invalidFileSizeMessageSummary="{{ 'invalid_file_size_message_summary' | translate:{file:'{0}'} }}"
                      chooseLabel="{{ 'choose_file' | translate }}"
                      cancelLabel="{{ 'remove_file' | translate }}"
                      [showUploadButton]="false" ></p-fileUpload>
      </div>
    </form>
    <p-footer>
      <button pButton pRipple label="{{ 'save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="onSubmit(formAdd.value)" [disabled]="formAddActivity.invalid || noFiles"></button>
      <button pButton pRipple label="{{ 'cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="onCancel()"></button>
    </p-footer>

  </p-dialog>
</div>
