@import "src/assets/sass/utility/_mixins.scss";

.imgview-panel {
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;
}

.card{
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.myDialog{
  width: 40vw;
}

.p-dialog-footer {
  float: right;
}


.table-activities{

  .td-text-wrap{
    word-wrap:break-word;
  }
}

.toolbar-activities, .table-activities{
  padding: 15px;
}

.grid-container{
  width: 40vw;
}

#image-activity-table{
  width: 100%;
  height: 100px;
  width: auto\9; /* ie8 */
}


