
<app-menu-bar></app-menu-bar>
<p-toast  key="activity"></p-toast>
<div class="imgview-panel">
  <div class="card p-d-flex p-flex-column">
    <p-toolbar class="toolbar-activities">
      <div class="p-toolbar-group-left"></div>
      <div class="p-toolbar-group-right">
        <button pButton pRipple label=" {{ 'add_activity' | translate }}" icon="pi pi-plus" class="p-button-raised p-button-rounded" (click)="openNew()"></button>
      </div>
    </p-toolbar>

    <p-table #tableActivities [value]="activities" class="table-activities" [scrollable]="true" scrollHeight="350px" sortField="name"
             [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]"
             currentPageReportTemplate="{{ 'current_page' | translate:{'first': '{first}', 'last': '{last}', 'totalRecords': '{totalRecords}' } }}"
             [globalFilterFields]="['name','locality','interest']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h2 class="p-m-0">{{ 'list_activities' | translate }}</h2>
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input id="input_search_activities_table" pInputText type="text" (input)="tableActivities.filterGlobal($event.target.value, 'contains')" placeholder="{{ 'search' | translate }}" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            {{ 'image' | translate }}
          </th>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr>
          <td><img id="image-activity-table" [src]='photoURL(activity)' /></td>
          <td class="td-text-wrap">{{activity.name}}</td>
          <td class="p-text-nowrap p-text-truncate">{{activity.description}}</td>
          <td class="td-text-wrap">{{activity.locality}}</td>
          <td class="td-text-wrap">{{activity.interest}}</td>
          <td>
            <button pButton pRipple type="button" icon="fas fa-info" class="p-button-rounded p-button-text" (click)="seeMoreInfo(activity)"></button>
            <button pButton pRipple type="button" icon="fas fa-pen" class="p-button-rounded p-button-text" (click)="editActivity(activity)"></button>
            <button pButton pRipple type="button" icon="fas fa-trash-alt" class="p-button-rounded p-button-text" (click)="confirm(activity)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        {{ 'message-no-activities-match' | translate }}
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog header="{{ 'delete_activity' | translate }}" icon="pi pi-info-circle" acceptLabel="{{ 'delete' | translate }}" rejectLabel="{{ 'cancel' | translate }}"></p-confirmDialog>

</div>
