@import "src/assets/sass/utility/_mixins.scss";

.imgview-panel {
  @include custom-panel;
  width: 100%;
  min-height: 300px;
  min-width: 800px;
}

.card{
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.myDialog{
  width: 40vw;
}

.p-dialog-footer {
  float: right;
}


.table-activities{

  ::ng-deep .p-datatable-tbody > tr > td,
  ::ng-deep .p-datatable-thead > tr > th,
  ::ng-deep .p-paginator,
  ::ng-deep .p-datatable-header{
    border: 0 none;
  }

  ::ng-deep .p-datatable-tbody > tr > td,
  ::ng-deep .p-datatable-thead > tr > th{
    border-bottom: 1px solid #c8c8c8;
  }

  ::ng-deep .p-datatable-thead > tr > th{
    border-top: 1px solid #c8c8c8;
  }

  .td-text-wrap{
    word-wrap:break-word;
  }
}

.toolbar-activities, .table-activities{
  padding: 15px;
}

.grid-container{
  width: 40vw;
}

#image-activity-table{
  width: 100%;
  height: 100px;
  width: auto\9; /* ie8 */
}


